{% extends 'base.html' %}
{% from "macros.html" import show_metronome, metronomes %}

{% block title %}{{name}}{% endblock %}

{% block content %}
    <div class="row" >
        <div class="col-md-3">
            <form>
                <legend><h2>Bpm {{name}}:</h2></legend>
                <div><input type="number" name="bpm" id="bpm" value={{bpm}} size="3" disabled /></div>
                <p><div class="stop btn btn-danger">Stop</div></p>
            </form>
        </div>
        <div class="col-md-4">
            <legend><h2> Change bpm {{name}}:</h2></legend>
            <form action="/metronome/update/{{ID}}" method="post">
                <input type="number" name="number" value={{bpm}} maxlength=3 min=40 max=218 step="any" />
                <p><input type="submit" class="btn btn-primary btn-sm" value="Save"/></p>
            </form></p>
        </div>
        <div class="col-md-5">
        <legend><h2>Metronomes:</h2></legend>
            <h4>
                {{ metronomes(rows) }}
            </h4>
        </div>
    </div>
    {{ show_metronome (False, bpm) }}
{% endblock %}
