{% extends 'base.html' %}
{% from "macros.html" import metronomes %}

{% block title %}Channels{% endblock %}

{% block content %}
    <div class="row" >
		<div class="col-md-6">
			<legend><h2>Metronomes:</h2></legend>
			{{ metronomes(rows) }}
		</div>
		<div class="col-md-6">
			<form action="/metronome" method="post">
                <div class="form-group">
	                <label class="col-form-label" for="inputDefault"> <h2 class="text-info"> <legend>Name of the metronome</legend></h2> </label>
	                <input class="form-control" placeholder="Fast" id="inputDefault" name="name" type="text">
                </div>
				<button type="submit" class="btn btn-primary" value="Create"> Create </button>
			</form>
		</div>
    </div>
{% endblock %}
