<!doctype html>
<html>
    <head>
        {% extends 'base.html' %}
        <h1>{% block title %}{{title_text}}{% endblock %}</h1>
    </head>
    <body>
    {% block content %}
        <h2>{{title_text}}:</h2>
            <form>
                <p><textarea name="textarea" cols="40" rows="30" readonly>{{text}}</textarea></p>
            </form>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
