{% extends 'base.html' %}
{% set active_page = "lyrics" %}

{% block title %}Lyrics{% endblock %}

{% block content %}
    <div class="row" >
        <div class="col-md-4">
            <h1>Lyrics</h1>
            <table class="table table-hover">
                <tbody>
                    {% for row in rows %}
                    <tr class="table-default">
                        <th scope="row"><a href="/lyrics/{{row.id}}"> {{row.title_text}}</a></th>
                        <td>
                            <form action="/lyrics/{{row.id}}" method="post">
                                <button type="submit" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <form action="/lyrics" method="post">
                <fieldset>
                    <legend>Create new song</legend>
                    <div class="form-group">
                        <label for="sTitle">Title</label>
                        <input type="text" class="form-control" name="name" id="sTitle" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="sText">Text</label>
                        <textarea class="form-control" name="content" id="sText" cols="40" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </fieldset>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
