{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <h1>{% block title %}Main{% endblock %}</h1>
    </head>
    <body>
    {% block content %}
        <ul>        
            <li><a href="/metronome"> <input type="button" class="btn btn-secondary" value="Metronome"/></a></li>
            <li><a href="/lyrics"> <input type="button" class="btn btn-success" value="Lyrics"/></a></li>
            <li><a href="/tabs"> <input type="button" class="btn btn-info" value="Tabs"/></a></li>
            <li><a href="/songs"> <input type="button" class="btn btn-warning" value="Songs"/></a></li>
        </ul>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
