{% extends 'base.html' %}
<!DOCTYPE html>
    <head>
        <h1>{% block title %}Metronome{% endblock %}</h1>
    </head>
    <body>
    {% block content %}
        <form>
            <h1>BMP:</h1>
            <div><input type="number" id="button" name="bpm" value="80" size="3" min=40 max=218 /></div>
            <div id="click-block" class="start btn">Start</div>
            <div class="stop btn">Stop</div>
            <script src="//static.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        </form>
        <p><a href="/metronome/channel"> <input type="button" class="btn btn-info" value="Channels"/></a></p>
        <script src="/static/sound.js"></script>
        <script>setTime()</script>
    {% endblock %}
    </body>
</html>
