<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title>Tabs</title>
    </head>
    <body>
        <h2>Tabs:</h2>
        <p>
        <ul>
            {% for row in rows %}           
                    <li> 
                        <a href="{{row.link}}"> {{row.name}}</a>  
                        <a href="/tabs/delete/{{row.id}}"> <input type="button" class="btn btn-outline-info" value="X"/></a>
                    </li>
            {% endfor %}
        </ul>
        <p>
        <form action="/tabs/create" method="post">
            <input type="text" name="name" value="Name tab" />
            <input type="text" name="content" value="link" />
            <input type="submit" class="btn btn-primary" value="Create"/>
        </form>
        </p>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>
